{% extends 'base.html.twig' %}

{% block title %}Register New Robot{% endblock %}

{% block body %}
    <h1>Register New Robot</h1>

    <div class="card mt-3">
        <div class="card-body">
            {% include 'robot/_form.html.twig' with {button_label: 'Register Robot'} %}
        </div>
    </div>
{% endblock %}
